cocos2d/AUTHORS
cocos2d/CHANGELOG
cocos2d/CMakeLists.txt
cocos2d/README.md
cocos2d/build/
cocos2d/cocos/2d/
cocos2d/cocos/audio/
cocos2d/cocos/base/
cocos2d/cocos/editor-support/cocosbuilder/
cocos2d/cocos/editor-support/cocostudio/
cocos2d/cocos/editor-support/spine/
cocos2d/cocos/math/
cocos2d/cocos/network/
cocos2d/cocos/physics/
cocos2d/cocos/storage/
cocos2d/cocos/ui/
cocos2d/docs/
cocos2d/extensions/
cocos2d/external/
cocos2d/licenses/
cocos2d/plugin/

*.swp
.DS_Store
proj.android/assets/
proj.android/obj/
proj.android/bin/
psd/BrazilPenaltyKick.spritebuilder/Source/
psd/BrazilPenaltyKick.spritebuilder/BrazilPenaltyKick.xcodeproj/
